@import url("https://fonts.googleapis.com/css2?family=Asap:wght@100;200;300;400;500;600;700&display=swap");
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Asap";
}


a {
    flex-shrink: 0;
    padding: 6px 15px;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    min-width: 110px;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: calc(100% - 250px);
    margin: 10px auto;
}

.container h2 {
    font-size: 12px;
    font-weight: 500;
}

.container .list-item {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container .list-item li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 110px;
    /* height: 50px; */
    border-radius: 999px;
    background-color: #eee;
}

.container .list-item li:first-child {
    background-color: rgb(188, 125, 43);
}

.container .list-item li:first-child a {
    color: #fff;
}

.container .list-item:hover li:first-child a{
    color: #000;
}

.container .list-item:hover li:first-child{
    background-color: #eee;
}



.container .list-item li:hover {
    background-color: rgb(188, 125, 43)!important;
}

.container .list-item li:hover a {
    color: #fff!important;
}

.container .list-item li span {
    display: block;
    font-size: 9px;
    font-style: italic;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    width: calc(100% + 50px);
}

.items li {
    width: calc((100% - 15px * 2) / 3);
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    background-position: center center;
}

.items li:nth-child(1) {
    background-image: url(../../img/item-1.jpg);
}

.items li:nth-child(2) {
    background-image: url(../../img/item-2.jpg);
}

.items li:nth-child(3) {
    background-image: url(../../img/item-3.jpg);
}

.items li:nth-child(4) {
    background-image: url(../../img/item-4.jpg);
}

.items li:nth-child(5) {
    background-image: url(../../img/item-5.jpg);
}

.items li:nth-child(6) {
    background-image: url(../../img/item-6.jpg);
}

.items li h3 {
    position: absolute;
    top: 15px;
    left: 20px;
    font-weight: 600;
    font-size: 16px;
}

.items li span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 12px;
}
