* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito,sans-serif;
}

.container {
    width: 410px;
    margin-left: auto;
}

.container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 20px 15px 20px 30px;
}

.container .shop-cart {
    position: relative;
}

h2.heading {
    font-size: 20px;
}

.shop-cart span {
    position: absolute;
    font-size: 13px;
    top: -12px;
    right: -15px;
    background-color: blue;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}

.icon {
    width: 15px;
    height: 15px;
    background-color: red;
    display: flex; 
    justify-content: center;
    padding: 11px;
    align-items: center;
    border-radius: 50%;
    color: #fff;
}

.items {
    padding-top: 40px;
    background-color: rgb(237, 165, 30);
}

.item {
    display: flex;
    position: relative;
    align-content: center;
    padding: 20px 15px 30px 30px;
    gap: 30px;

}

.item:nth-child(1) {
    border-bottom: 1px solid #ddd;
}

.item-info {
    flex-grow: 1
}

.item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    flex-shrink: 0;
}

h3 {
    color: #999;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
}

input {
    width: 80px;
    border-radius: 999px;
    padding-left: 35px;
    margin-right: 50px;
    padding-right: 20px;
}

.item .price {
    font-weight: 700;
    font-size: 18px;
}

.item .price + .fa-solid {
    position: absolute;
    top: 10px;
    right: 50px;
    color: #999;
}

.increment {
    position: relative;
    width: 50px;
    display: inline-block;
    margin-right: 80px;
}

.increment span {
    position: absolute;
    width: 10px;
    height: 10px;
}

.plus {
    top: 2px;
    left: 7px;
}

.minus {
    top: 2px;
    right: -18px;
}

.total {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}

.total h3 {
    font-size: 20px;
    font-weight: 600;   
    color: #000;
}

.total .price {
    font-size: 20px;
    font-weight: 600;   
    color: orange;
}

p.desc {
    color: #aaa;
    font-size: 13px;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.btn *{
    width: 100%;
    margin: 0px auto;
    padding: 15px;
    /* height: 30px; */
    border-radius: 4px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn button[type="button"] {
    background: #fff;
    border: 1px solid #aaa !important;
    margin-bottom: 15px;
    color: #aaa
}

.btn button[type="submit"] {
    background: blue;
    border: none;
    color: #fff;
    margin-bottom: 40px;
}

.footer {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer img {
    width: 80px;
    height: 80px;
}

.footer .free-ship {
    font-weight: 700;
    align-self: flex-start;
    margin: 20px;
}
