.container {
    font-family: sans-serif;
    padding: 50px 25px;
    min-height: 100vh;
    .btn-reset {
        background-color: #319795;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        color: #fff;
        font-size: 18px;
        margin: 15px 0px 0px;
        cursor: pointer;
    }
    .mode {
        position: fixed;
        top: 18px;
        right: 25px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        cursor: pointer;
        &:hover {
            background-color: rgba(255, 255, 255, 0.08)
        }
        i {
            font-size: 20px;
            &:nth-child(1) {
                display: none;
            }
            &:nth-child(2) {
                display: block;
            }
        }
    }

    .border-top {
        opacity: 0.6;
        background-color: #319795;
        height: 7px;
        width: 100%;
        position: fixed;
        top:0px;
        left: 0px;
    }
    
    .heading {
        font-size: 33px;
        font-weight: 700;
        color: #319795;
    }
    .slot {
        margin-top: 10px;
        font-size: 30px;
        font-weight: 700;
        color: #2c7a7b
    }
    .desc {
        margin-top: 5px;
        font-size: 30px;
        font-weight: 700;
        color: #285e61;
    }
    .range {
        cursor: pointer;
        margin-top: 15px;
        border-radius: 5px;
        background-color: #ddd;
        width: 100%;
        height: 4px;
        position: relative;
        .drag-input {
            position: absolute;
            inset: 0;
            width: 10%;
            background-color: orange;
            .visible {
                visibility: hidden;
                padding: 5px 8px 0px;
                color: #fff;
                position: absolute;
                top: -100%;
                translate: 50% -150%;
                right: 0;
                min-width: 30px;
                height: 20px;
                background-color: #319795;
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .box {
                    box-sizing: border-box;
                    position: relative;
                    bottom: 50%;
                    left: 50%;
                    translate: -50% 50%;
                    width: 10px;
                    height: 10px;
                    border: 10px solid;
                    border-color: #319795 transparent transparent; 
                }
            }
            .btn-drag {
                background-color: #fff;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                z-index: 1;
                right: 0px;
                translate: 50% -50%;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),0 1px 2px 0 rgba(0, 0, 0, 0.06);
                &:hover {
                    &+.visible {
                        visibility: visible;
                    }
                }
            }
        }
    }

    .action {
        .desc {
            display: block;
            margin-top: 20px;
            font-size: 16px;
            color: #319795;
        }

        .number-input {
            margin-top: 15px;
            width: 100%;
            height: 35px;
            padding: 5px 15px;
            box-sizing: border-box;
            font-size: 16px;
            outline: transparent 2px solid;
            border-radius: 4px;
            border: #E2E8F0 solid 1px;
            &:focus {
                border-color: rgb(49, 130, 206);
                box-shadow: rgb(49, 130, 206) 0px 0px 0px 1px;
            }
            &::placeholder {
                color: #888;
            }
        }
    }
    
    .results {
        margin-top: 20px;
        width: 100%;
        position: relative;
        .remove {
            position: fixed;
            top: 75%;
            right: 25px;
            width: 20px;
            height: 20px;
            background-color: teal;
            color: #222;
            opacity: 0.7;
            padding: 10px;
            border-radius: 5px;
            transition: color 0.2s ease-in,opacity 0.2s ease-in;
            &:hover {
                color: #e53e3e;
                opacity: 1;
            }
        }
        .result {
            border: #2c7a7b 2px solid;
            border-radius: 6px;
            padding: 20px;
            width: 100%;
            box-sizing: border-box;
            .table {
                width: 70%;
                margin: 0px auto;
                $wh: 30%;
                .row {
                    margin-top: 10px;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    th {
                        padding-bottom: 2px;
                        width: 50%;
                        margin: 0px auto;
                        font-weight: 700;
                    }
                    td {
                        padding-bottom: 4px;
                        display: block;
                        width: 50%;
                        text-align: center;
                    }
                    &.bd {
                        border-bottom: 1px solid #ccc;
                    }
                }
            }

            .total-result {
                font-weight: 500;
                text-align: center;
                margin-top: 30px;
                .slot-play {
                    margin-bottom: 40px;
                }
                .max-slot {
                    margin-bottom: 40px;
                    .max {
                        color: #38b2ac;
                        font-weight: 500;
                    }
                }
                .percent {
                    margin-bottom: 10px;
                    color: #9b2c2c;
                    font-weight: 700;
                }
            }
        }
    }
}