.box {
    margin: 40px auto 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 40px;
    width: 1340px;
    border-bottom: 1px solid orange;
    &:nth-last-of-type(1) {
        border-bottom: none !important;
    }
    &:nth-of-type(2n) {
        flex-direction: row-reverse;
    }
    .img {
        img {
            border-radius: 8px;
        }
    }
    .info {
        width: 800px;
        p {
            font-size: 18px;
        }
    }
}
